# Notebook de métricas y test

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from pathlib import Path

# sube de notebooks/ a la raíz del repo

sys.path.append(str(Path.cwd().parent))

import src.functions as fc

%matplotlib inline 
%load_ext autoreload
%autoreload 2

In [18]:
# Hacemos merge

df2_1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt")
df2_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt")
df2 = pd.concat([df2_1, df2_2], axis=0, ignore_index=True)

In [19]:
fc.save_data_clean(df2, "df2_merged")

Guardado: /Users/juaruibel/Projects/BOOTCAMP/Unit 05 - EDA and Inferential Stats/project2-cx-julio-juanjo/data/cleaned/20260211_1638_df2_merged.csv

'ok'

In [20]:
df2 = fc.load_data_merge("20260211_1638_df2_merged.csv")

In [21]:
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [22]:
df2.shape

(755405, 5)

In [ ]:
# Usuarios únicos que llegan a confirm 

usuarios_confirm = df2[df2["process_step"] == "confirm"]

usuarios_confirm = (df2[df2["process_step"] == "confirm"][["client_id"]].drop_duplicates())

num_usuarios_confirm = usuarios_confirm.shape[0]

In [58]:
# Client id únicos

num_client_id_unique = df2["client_id"].nunique()

tasa_finalizacion = round((num_usuarios_confirm/num_client_id_unique)*100, 2)

tasa_finalizacion

67.53

# TASA DE ERROR