# Notebook de métricas y test

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from pathlib import Path

# sube de notebooks/ a la raíz del repo

sys.path.append(str(Path.cwd().parent))

import src.functions as fc

%matplotlib inline 
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
# Hacemos merge

df2_1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt")
df2_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt")
df2 = pd.concat([df2_1, df2_2], axis=0, ignore_index=True)

In [17]:
# Guardamos csv y borramos duplicados

fc.save_data_clean(df2, "df2_merged")

Guardado: /Users/juaruibel/Projects/BOOTCAMP/Unit 05 - EDA and Inferential Stats/project2-cx-julio-juanjo/data/cleaned/20260212_1519_df2_merged.csv

'ok'

In [18]:
df2 = fc.load_data_merge("20260212_1519_df2_merged.csv")

In [19]:
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [20]:
df2.shape

(744641, 5)

# TASA DE FINALIZACION

In [21]:
fc.tasa_finalizacion(df2)

67.53

## TIEMPO DEDICADO

In [22]:
fc.tiempo_dedicado(df2)

El tiempo dedicado de start a paso 1 es: 0 days 00:00:32.047011243
El tiempo dedicado del paso 1 al paso 2 es: 0 days 00:00:35.257418108
El tiempo dedicado del paso 2 al paso 3 es: 0 days 00:01:28.502612618
El tiempo dedicado del paso 3 a confirm es: 0 days 00:00:32.047011243

(Timedelta('0 days 00:00:32.047011243'),
 Timedelta('0 days 00:00:35.257418108'),
 Timedelta('0 days 00:01:28.502612618'),
 Timedelta('0 days 00:01:50.171825079'))

# TASA DE ERROR

In [23]:
fc.tasa_error(df2)

np.float64(10.42)