In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [32]:
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt")
df2_1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt")
df2_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt")

Unimos los dos df del df 2 (2_1 y 2_2)

In [33]:
df2_1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [34]:
df2_1.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [35]:
def informe(x):
    print("Información del DataFrame:")
    print(x.info())
    print("Descripción estadística:")
    print(x.describe())
    print("Valores nulos:")
    print(x.isnull().sum())
    print("Tipos de datos:")
    print(x.dtypes)
    print("Primeras 5 filas:")
    print(x.head())
    print("Últimas 5 filas:")
    print(x.tail())
    print("Forma del DataFrame:")
    print(x.shape)
    print("columnas")
    print(x.columns)

In [36]:
def datos(x):
    print("datos nulos")
    print(x.isnull().sum())
    print("datos totales")
    print(x.count())   
    print("porcentaje de nulos")
    print(x.isnull().sum() / x.shape[0]*100)
    print("datos duplicados")
    print(x.duplicated().sum())

In [37]:
informe(df2_1)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB
None
Descripción estadística:
          client_id
count  3.431410e+05
mean   4.996097e+06
std    2.875839e+06
min    1.690000e+02
25%    2.506067e+06
50%    5.007915e+06
75%    7.468519e+06
max    9.999839e+06
Valores nulos:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
Tipos de datos:
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object
Primeras 5 filas:
   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04
Últimas 5 filas:
        client_id             visitor_id                      visit_id  \
343136    2443347  465784886_73090545671  136329900_10529659391_316129
343137    2443347  465784886_73090545671  136329900_10529659391_316129
343138    2443347  465784886_73090545671  136329900_10529659391_316129
343139    2443347  465784886_73090545671  136329900_10529659391_316129
343140    2443347  465784886_73090545671  136329900_10529659391_316129

       process_step            date_time
343136      confirm  2017-03-31 15:15:46
343137       step_3  2017-03-31 15:14:53
343138       step_2  2017-03-31 15:12:08
343139       step_1  2017-03-31 15:11:37
343140        start  2017-03-31 15:10:47
Forma del DataFrame:
(343141, 5)
columnas
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [38]:
datos(df2_1)

datos nulos
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
datos totales
client_id       343141
visitor_id      343141
visit_id        343141
process_step    343141
date_time       343141
dtype: int64
porcentaje de nulos
client_id       0.0
visitor_id      0.0
visit_id        0.0
process_step    0.0
date_time       0.0
dtype: float64
datos duplicados
2095

In [39]:
df2_2.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [40]:
informe(df2_2)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB
None
Descripción estadística:
          client_id
count  4.122640e+05
mean   5.028227e+06
std    2.881828e+06
min    3.360000e+02
25%    2.533952e+06
50%    5.056314e+06
75%    7.516792e+06
max    9.999875e+06
Valores nulos:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
Tipos de datos:
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object
Primeras 5 filas:
   client_id             visitor_id                      visit_id  \
0     763412  601952081_10457207388  397475557_40440946728_419634
1    6019349  442094451_91531546617  154620534_35331068705_522317
2    6019349  442094451_91531546617  154620534_35331068705_522317
3    6019349  442094451_91531546617  154620534_35331068705_522317
4    6019349  442094451_91531546617  154620534_35331068705_522317

  process_step            date_time
0      confirm  2017-06-06 08:56:00
1      confirm  2017-06-01 11:59:27
2       step_3  2017-06-01 11:58:48
3       step_2  2017-06-01 11:58:08
4       step_1  2017-06-01 11:57:58
Últimas 5 filas:
        client_id             visitor_id                     visit_id  \
412259    9668240   388766751_9038881013  922267647_3096648104_968866
412260    9668240   388766751_9038881013  922267647_3096648104_968866
412261    9668240   388766751_9038881013  922267647_3096648104_968866
412262    9668240   388766751_9038881013  922267647_3096648104_968866
412263     674799  947159805_81558194550  86152093_47511127657_716022

       process_step            date_time
412259        start  2017-05-24 18:46:10
412260        start  2017-05-24 18:45:29
412261       step_1  2017-05-24 18:44:51
412262        start  2017-05-24 18:44:34
412263        start  2017-06-03 12:17:09
Forma del DataFrame:
(412264, 5)
columnas
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [41]:
datos(df2_2)

datos nulos
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
datos totales
client_id       412264
visitor_id      412264
visit_id        412264
process_step    412264
date_time       412264
dtype: int64
porcentaje de nulos
client_id       0.0
visitor_id      0.0
visit_id        0.0
process_step    0.0
date_time       0.0
dtype: float64
datos duplicados
8669

In [42]:
df2 = pd.merge(df2_1, df2_2, on="client_id", how="inner")

In [43]:
df2

,client_id,visitor_id_x,visit_id_x,process_step_x,date_time_x,visitor_id_y,visit_id_y,process_step_y,date_time_y
0,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,confirm,2017-06-08 16:46:39
1,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,step_3,2017-06-08 16:46:08
2,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,step_2,2017-06-08 16:45:09
3,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,step_1,2017-06-08 16:44:30
4,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35,694624747_14580652583,787486191_38787201768_120150,start,2017-06-08 16:44:07
...,...,...,...,...,...,...,...,...,...
160781,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160782,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160783,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160784,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18
160785,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47,818414719_69544570654,148166449_67114410166_524360,confirm,2017-05-30 19:18:18

ver patrones de comportamiento de los pasos que dan, si están en test o en control, etc...